*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 10%);
  position: relative;
  cursor: pointer;
}
a::after {
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  content: "";
  width: 0;
  height: 2px;
  background: hsl(0, 0%, 10%);
  transition: all 0.3s ease;
}
a:hover::after {
  width: 100%;
}

button, fieldset, input, textarea {
  border: none;
  background: none;
  outline: none;
}

ul, menu {
  list-style-type: none;
}

body {
  width: 100vw;
  min-height: 100vh;
}
body main {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  padding: 3vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
  background: white;
}
header menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

button {
  font-size: 1.1rem;
  padding: 0.8em;
  border: 1px solid hsl(0, 0%, 10%);
  color: hsl(100, 100%, 100%);
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
button.standard {
  background: hsl(0, 0%, 10%);
}
button.standard:hover {
  background: transparent;
  color: hsl(0, 0%, 10%);
}
button.border {
  background: transparent;
  color: hsl(0, 0%, 10%);
}
button.border:hover {
  background: hsl(0, 0%, 10%);
  color: hsl(100, 100%, 100%);
}
button.color {
  border-color: hsl(213, 75%, 33%);
  background: hsl(213, 75%, 33%);
  color: hsl(100, 100%, 100%);
}
button.color:hover {
  color: hsl(213, 75%, 33%);
  background: hsl(100, 100%, 100%);
}

ul {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
ul.items {
  width: 100%;
}
ul.items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
  position: relative;
}
ul.items li::after {
  content: "";
  width: 0;
  height: 2px;
  background: hsl(213, 75%, 33%);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}
ul.items li:hover {
  background: hsla(0, 0%, 0%, 0.05);
}
ul.items li:hover::after {
  width: 100%;
}
ul.items li:last-child {
  border-bottom: none;
}
ul.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  flex-wrap: wrap;
}
ul.card li {
  padding: 1rem;
  border-radius: 5px;
  background: hsla(0, 0%, 0%, 0.05);
}
ul.card.link li {
  padding: 0;
  border-radius: 0;
  background: none;
}
ul.card.link li a {
  padding: 1rem;
  border-radius: 5px;
  background: hsla(0, 0%, 0%, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
ul.card.link li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background: hsla(0, 0%, 0%, 0.05);
  transition: all 0.3s ease;
  border-radius: 50%;
  left: unset;
  top: unset;
  right: unset;
  bottom: unset;
}
ul.card.link li a:hover::after {
  width: 200%;
  height: 200%;
}

section {
  width: 100%;
  height: auto;
  padding: 10vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
section.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
section.row {
  flex-direction: row;
}
section.dark {
  background: hsl(0, 0%, 10%);
  color: hsl(100, 100%, 100%);
}
section.dark a {
  color: hsl(100, 100%, 100%);
}
section.dark a::after {
  background: hsl(100, 100%, 100%);
}

form {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}
form fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
form fieldset label {
  font-size: 1.1rem;
  font-weight: 600;
}
form fieldset input {
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  color: hsl(0, 0%, 10%);
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  border-radius: 5px;
  transition: all 0.3s ease;
}
form fieldset input:hover, form fieldset input:focus {
  border-color: hsl(0, 0%, 10%);
}
form fieldset input::placeholder {
  color: hsla(0, 0%, 0%, 0.15);
}

article {
  height: auto;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer {
  width: 100%;
  height: auto;
  padding: 8vh 2vw;
  color: hsl(100, 100%, 100%);
  background: hsl(0, 0%, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
footer ul li a {
  color: hsl(100, 100%, 100%);
}
footer ul li a::after {
  background: hsl(0, 0%, 96%);
}

/*# sourceMappingURL=semantic-css.css.map */
