$text-black: hsl(0, 0%, 10%);
$text-white: hsl(100, 100%, 100%);
$text-gray: hsl(0, 0%, 45%);
$text-blue: hsl(213, 75%, 33%);

$background-black: hsl(0, 0%, 10%);
$background-white: hsl(0, 0%, 96%);

$border-black: hsl(0, 0%, 10%);
$border-blue: hsl(213, 75%, 33%);
$border-white: hsl(0, 0%, 96%);

$border-black-05: hsla(0, 0%, 0%, .05);
$border-black-1: hsla(0, 0%, 0%, .1);
$border-black-15: hsla(0, 0%, 0%, .15);
$border-black-2: hsla(0, 0%, 0%, .2);
$border-black-25: hsla(0, 0%, 0%, .25);
$border-black-35: hsla(0, 0%, 0%, .35);
$border-black-5: hsla(0, 0%, 0%, .5);

$border-white-05: hsla(100, 100%, 100%, .05);
$border-white-1: hsla(100, 100%, 100%, .1);
$border-white-15: hsla(100, 100%, 100%, .15);
$border-white-2: hsla(100, 100%, 100%, .2);