header {
  width: 100%;
  padding: 3vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border-black-05;
  background: white;

  menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}