ul {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.items {
    width: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid $border-black-05;
      position: relative;

      &:hover {
        background: $border-black-05;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    flex-wrap: wrap;

    li {
      padding: 1rem;
      border-radius: 5px;
      background: $border-black-05;
    }

    &.big {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;

        p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          margin-top: .5rem;
        }
      }
    }

    &.link li {
      padding: 0;
      border-radius: 0;
      background: none;

      a {
        padding: 1rem;
        border-radius: 5px;
        background: $border-black-05;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          background: $border-black-05;
          transition: all .3s ease;
          border-radius: 50%;
          left: unset;
          top: unset;
          right: unset;
          bottom: unset;
        }

        &:hover::after {
          width: 200%;
          height: 200%;
        }
      }
    }
  }
}